<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>First.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>345B600524C28DEF00566950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345B601B24C28DF100566950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>345B602624C28DF100566950</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>346E6B3024C4FEAB002CB8CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
